div {
  text-align: center;
}
.zoom {
  padding: 50px;
  transition: transform 0.2s;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  image-rendering: -webkit-optimize-contrast; /* webkit */
  image-rendering: -moz-crisp-edges; /* Firefox */
}

.pixel {
  padding: 50px;
  transition: transform 0.2s;
  width: auto;
  height: auto;
  margin: 0 auto;
  image-rendering: -webkit-optimize-contrast; /* webkit */
  image-rendering: -moz-crisp-edges; /* Firefox */
}

.pixel:hover {
  -ms-transform: scale(3); /* IE 9 */
  -webkit-transform: scale(3); /* Safari 3-8 */
  transform: scale(3);
}

.zoom:hover {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2);
}

h2 {
  color: wheat;
}

html {
  height: auto;
  width: auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
