.links-navegacio {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #488edf;
  }

  li {
    text-align: center;

    a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: net;
      text-align: center;

      &:hover {
        background-color: #4332da;
      }
    }
  }

  .active {
    background-color: #488edf;
  }
  div {
    height: 1700px;
    width: auto;
  }

  @font-face {
    font-family: rosso;
    src: url(NiseSegaRosso.TTF);
  }

  @font-face {
    font-family: net;
    src: url(NiseSegaNet.TTF);
  }
}
